body {
    background-color: #007AFF !important;
}

.container {
    min-height: 100vh;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 12px;
}

.quiz_card {
    width: 30rem;
}

